/* #rectangulo {
	position: absolute;
	width: 1440px;
	height: 90px;
	left: 0px;
	top: 0px;
	
	background: #e8e8c6;
} */

.imagen {
max-width: 1430px;
margin:0 auto;
justify-content: center;

}
.imagen2 {
    
    margin:0 auto;
    max-width: 1430px;
    

    }
    
#equipo {
text-align: center;
margin-top:8px;
font-size: 44px;
font-family: 'Quicksand';
}
#equipo1 {
    text-align: center;
    margin-top:8px;
    font-size: 44px;
    font-family: 'Quicksand';
    }
#rectangulo{
    position: absolute;
    width: 579px;
    height: 656px;
    left: 110px;
    top: 1959px;
    
    background: url(9-Best-Mellotron-Plugins-2021-Free-Paid.jpg);
    border-radius: 79px;

}
.imagenesRedondeadas{
    width: 400px; 
    height:300px; 
    text-shadow: 3px; 
    border-radius: 30px 30px 0 0 ;
}
.letrasServicios{
    padding: 20px; 
    font-size:20px;
    font-family: 'Quicksand';
    margin-top: 3%;


}
.cajaServicios{
    background-color: gray;
    width: auto;
    padding-top: 3%;
}

.primeraCaja{
    display: flex;
    background-color: gray;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
    width: 97%;
    
}

.segundaCaja{
    /* margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px; */
    background-color: #ffffff;
    height: 400px;
    width: 400px;
    border-radius: 30px;
    text-align: center;
}
.terceraCaja{
    /* margin-top: 100px; */
    background-color: #ffffff;
    height: 400px;
    width: 400px;
    border-radius: 30px;
    text-align: center;



}
.cuartaCaja{
    /* margin-top: 700px; */
    background-color: #ffffff;
    height: 400px;
    width: 400px;
    border-radius: 30px;
    text-align: center;



}
.quintaCaja{
    /* margin-top: 700px; */
    background-color: #ffffff;
    height: 400px;
    width: 400px;
    border-radius: 30px;
    text-align: center;
}

 .segundaCaja,.terceraCaja,.cuartaCaja,.quintaCaja{

    margin: 60px;
 }

 .primeraCajaProducciones{
    display: flex;
    background-color: #808080;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
    width: 97%;
    
    
}
.cajaProducciones{
    background-color: #ffffff;
    height: 500px;
    width: 650px;
    border-radius: 30px;
    text-align: center;
    
}

.cajaProduccionesTexto{
background-color: #808080;
height: 500px;
width: 400px;
border-radius: 30px;
text-align: center;


}
.cajaProducciones,.cajaProduccionesTexto{

    margin: 50px;
 }
/* porque¡??? */
.foto{
	max-width: 1430px;
}
.foto2{
	max-width: 1100px;
    border-radius: 10px;
    margin-left: 120px;

}

/* #menu {
	background-color:rgb(162, 162, 250) ;
margin: 0;
} */


* {
    margin: 0;
    padding: 0;
}

.container .nav {

	/* estos 3 parametrso son para centrar texto */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1430px;
    margin: 0 auto;
    height: 3rem;
	background-color: rgb(255, 255, 246);
    font-size: 24px;
    font-family:  Quicksand, sans-serif;
    font-weight:400;
}

.container .nav ul {
    /* pone la lista en horizontal */
	display: flex;  
    list-style: none;
}

.container .nav ul li {
    padding-inline: 20px;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .nav ul li a{
   text-decoration: none;
   color: rgb(0, 0, 0);
}

.container .nav ul li:hover {
    background-color: rgba(172, 172, 172, 0.5);
}
